$color-primary: #FFF;
$color-secondary: #707070;
$color-error: red;
$color-bg-main: #000;
$color-bg-gradient: linear-gradient(90deg, #ff5c4d, #eb469f 26.56%, #8341ef 75%, #3f68f9);
$color-rating: #f50;
$color-text-detail: #0009;