.search {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  border-radius: 12px;

  .picture {
    width: 200px;
    height: 300px;
    transition: ease 0.5s all;

    &:hover {
      cursor: pointer;
      transform: scale(1.03);
    }

    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }
}

.found {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 5px;
}